sudo apt update && sudo apt install -y \
  build-essential \
  cmake \
  ninja-build \
  extra-cmake-modules \
  gettext \
  qt6-base-dev \
  qt6-declarative-dev \
  qt6-multimedia-dev \
  qt6-tools-dev \
  libkf6coreaddons-dev \
  libkf6config-dev \
  libkf6crash-dev \
  libkf6widgetsaddons-dev \
  libkf6dbusaddons-dev \
  libkf6i18n-dev \
  libkf6configwidgets-dev \
  libkf6xmlgui-dev \
  libkf6iconthemes-dev \
  libkdegames6-dev \
  libkf6doctools-dev \
  libopencv-dev \
  libmsgpack-cxx-dev
